template
  require(from="./lobby.css")

  div.container
    div#server-error.hidden
      span We are having a server issue
      br
      span Please try again later

    div.lobby
      div#rooms-window
        input#hide-owner.hidden(type="checkbox" model.one-time="'hide-owner'" checked.one-way="state.filterRooms")
        input#hide-user.hidden(type="checkbox" model.one-time="'hide-user'" checked.one-way="state.filterRooms")
        input#hide-others.hidden(type="checkbox" model.one-time="'hide-others'" checked.one-way="state.filterRooms")
        div.window-options
          div.main-options
            label#legend-owner.options-rooms(for="hide-owner" click.delegate="updateFilterRooms('owner')")
              span.legend-colour.blue
              span.title Owner
            label#legend-user.options-rooms(for="hide-user" click.delegate="updateFilterRooms('user')")
              span.legend-colour.green
              span.title User
            label#legend-others.options-rooms(for="hide-others" click.delegate="updateFilterRooms('others')")
              span.legend-colour.yellow
              span.title Seats available
          button.create(click.delegate="createRoom()") Create room
        div.list-empty(if.one-way="!state.roomsList.length") No rooms available
        div.list(else)
          div.room-item(repeat.for="room of state.roomsList" if.one-way="((room.owner === state.username) || (room.users.includes(state.username)) || (room.users.length < room.maxUsers))" id="room-${room.id}" class="${(room.owner === state.username) ? 'type-owner' : (room.users.includes(state.username)) ? 'type-user' : 'type-others'}")
            div.item-legend(class="${(room.owner === state.username) ? 'blue' : (room.users.includes(state.username)) ? 'green' : 'yellow'}")
            div.item-info
              span.item-name ${room.name}
                span.item-join-error.hidden(id="join-error-${$index}") requires the correct passcode
                span.item-name-small(if.one-way="room.owner !== state.username") is run by ${room.owner}
                span.item-name-small(if.one-way="room.visible === 0") is not yet made visible
              input.item-passcode(if.one-way="(room.passcode.length) && (room.owner !== state.username) && (!room.users.includes(state.username))" id="passcode-${$index}" type="text" name="passcode" placeholder="Passcode" change.delegate="enableJoinButton($index)")
            button.delete(if.one-way="(room.owner === state.username)" click.delegate="delete({ route: 'room', id: room.id, index: $index })") Delete
            button.item-enter(if.one-way="((room.owner === state.username) || (room.users.includes(state.username)))" click.delegate="route({ route: 'room', id: room.id, index: $index })") ${(room.owner === state.username) ? "Run" : "Play"}
            button.item-enter(if.one-way="((room.owner !== state.username) && (!room.users.includes(state.username)))" id="join-${$index}" click.delegate="route({ route: 'room', id: room.id, index: $index })") Join
